<!-- <div>
  <div *ngFor="let car of cars">
    We have a {{car.make}} {{car.model}} with a mileage of {{car.miles}}
  </div>
</div>

<div>
  <input [(ngModel)]="make" placeholder="make">
  <input [(ngModel)]="model" placeholder="model">
  <input type="number" [(ngModel)]="miles" placeholder="miles">
</div>

<button (click)="addCar()">add Car</button>

<div>
  <a routerLink="home"  routerLinkActive="activebutton"> home </a>
  <a routerLink="admin"  routerLinkActive="activebutton"> admin </a>
</div> -->

<header>
  <div class="logo_box"></div>
  <div class="link_box">
    <button routerLink="home"> home </button>
    <button routerLink="admin"> admin </button>
  </div>
</header>
<router-outlet></router-outlet>
